In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp313-cp313-macosx_14_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 499.0 kB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector
import pandas as pd

# Establish connection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456789',  # if you have password, insert here
    database='StudentInformationSystem',
    port=3306
)

# Cursor to execute SQL commands
cursor = conn.cursor()

# Step 1: Get all table names from your schema
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Step 2: Fetch data from each table
all_dataframes = {}

for (table_name,) in tables:
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, con=conn)
    all_dataframes[table_name] = df
    print(f"\nTable: {table_name}")
    print(df.head())  # Display first 5 rows for preview

# Step 3: Close connections
cursor.close()
conn.close()

Table: Academic_Qualification
Empty DataFrame
Columns: [academic_id, student_id, exam_type, board_or_university, school_or_college, passing_year, percentage_or_cgpa]
Index: []

Table: Address
   address_id flat_no_or_plot_no          landmark    area    city    state  \
0           1                101  Near City Center  Area-1  City-1  State-1
1           2                102  Near City Center  Area-2  City-2  State-2
2           3                103  Near City Center  Area-3  City-3  State-3
3           4                104  Near City Center  Area-4  City-4  State-4
4           5                105  Near City Center  Area-5  City-5  State-5

  country pincode
0   India   50001
1   India   50002
2   India   50003
3   India   50004
4   India   50005

Table: Attendance
   attendance_id  course_id  student_id attendance_date   status  \
0              1          1        7001      2023-08-01  Present
1              2          2        7002      2023-08-01   Absent
2              3          3        7003      2023-08-01   Absent
3              4          4        7004      2023-08-01  Present
4              5          5        7005      2023-08-01   Absent

                     remarks
0      Attended theory class
1  Was absent due to illness
2  Was absent due to illness
3      Attended theory class
4  Was absent due to illness

Table: Class_10
Empty DataFrame
Columns: [class10_id, student_id, board, year_of_passing, month_of_passing, country_of_institution, state_of_institution, institution_name, institution_address, document, obtained_marks, total_marks, aggregate]
Index: []

Table: Class_12
Empty DataFrame
Columns: [class12_id, student_id, board, year_of_passing, month_of_passing, country_of_institution, state_of_institution, institution_name, institution_address, document, obtained_marks, total_marks, aggregate]
Index: []

Table: Course
   course_id  term_id course_name course_code  credits  attendance
0          1        1    Course-1         C-1        3        85.0
1          2        2    Course-2         C-2        3        85.0
2          3        3    Course-3         C-3        3        85.0
3          4        4    Course-4         C-4        3        85.0
4          5        5    Course-5         C-5        3        85.0

Table: Course_Attendance
   attendance_id  course_id  student_id attendance_date  status  \
0              1          1        7001      2023-08-02  Absent
1              2          2        7002      2023-08-02  Absent
2              3          3        7003      2023-08-02  Absent
3              4          4        7004      2023-08-02  Absent
4              5          5        7005      2023-08-02  Absent

          remarks
0  Medical reason
1  Medical reason
2  Medical reason
3  Medical reason
4  Medical reason

Table: Degree
Empty DataFrame
Columns: [degree_id, student_id, university, university_name, year_of_passing, month_of_passing, country_of_institution, state_of_institution, institution_name, institution_address, document, obtained_marks, total_marks, aggregate, current_passing_semester, current_pending_backlog]
Index: []

Table: Department
   department_id   department_name department_code head_id         description
0              1  Computer Science             CSE    None    CS & Engineering
1              2          Commerce             COM    None  Commerce & Finance
2              3              Arts             ART    None   Arts & Humanities

Table: Employment_Type
Empty DataFrame
Columns: [emp_type_id, type_name]
Index: []

Table: Enrollment
   enrollment_id  student_id  course_id enrollment_date semester_or_term  \
0              1        7001          1      2023-06-20            Sem 1
1              2        7002          2      2023-06-20            Sem 2
2              3        7003          3      2023-06-20            Sem 3
3              4        7004          4      2023-06-20            Sem 4
4              5        7005          5      2023-06-20            Sem 5

      status     mode year_of_passing payment_status date_of_payment
0  Appearing  Regular            None           Paid      2023-06-25
1  Appearing  Regular            None           Paid      2023-06-25
2  Appearing  Regular            None           Paid      2023-06-25
3  Appearing  Regular            None           Paid      2023-06-25
4  Appearing  Regular            None           Paid      2023-06-25

Table: Faculty
   faculty_id first_name middle_name last_name            email_id  \
0           1       Anil                 Kumar  anil.kumar@univ.in
1           2      Meena                   Rao   meena.rao@univ.in
2           3     Vikash                   Das  vikash.das@univ.in

  contact_number  program_id  department_id joining_date          designation  \
0     9876543001           1              1   2020-06-01  Associate Professor
1     9876543002           2              2   2021-01-15  Assistant Professor
2     9876543003           3              3   2019-08-20             Lecturer

  area_of_specialization                     remarks
0                AI & ML  Experienced in AI projects
1                Finance      Specialist in Taxation
2  Development Economics        Published researcher

Table: Family_Income
   income_id income_range
0          1   10L to 15L
1          2   10L to 15L
2          3   10L to 15L
3          4   10L to 15L
4          5   10L to 15L

Table: Father
   father_id first_name middle_name last_name contact_number  \
0          1     Ramesh                 Reddy      981563210
1          2     Ramesh                 Patel      982563211
2          3     Ramesh                 Verma      983563212
3          4     Ramesh                Sharma      984563213
4          5     Ramesh                  Iyer      985563214

                   mail_id occupation salary
0   ramesh.reddy@gmail.com   Engineer    10L
1   ramesh.patel@gmail.com   Engineer    10L
2   ramesh.verma@gmail.com   Engineer    10L
3  ramesh.sharma@gmail.com   Engineer    10L
4    ramesh.iyer@gmail.com   Engineer    10L

Table: Grade
   grade_id  student_id  course_id  cia1  cia2  cia3  cia4  total_marks  \
0         1        7001          1  11.0  15.0   8.0  16.0         53.0
1         2        7002          2  11.0  12.0  17.0  19.0         83.0
2         3        7003          3  15.0  16.0   8.0  13.0         34.0
3         4        7004          4   9.0   8.0  20.0  17.0         44.0
4         5        7005          5  16.0  19.0  20.0  20.0         63.0

   credits status             remark grading_date
0        3   Pass   Good performance   2024-11-10
1        3   Pass   Good performance   2024-11-11
2        3   Fail  Needs Improvement   2024-11-12
3        3   Pass   Good performance   2024-11-13
4        3   Pass   Good performance   2024-11-14

Table: Guardian_Information
   guardian_id title        full_name mobile_number                      mail  \
0            1   Mr.   Guardian Reddy     991123450   guardian.reddy@mail.com
1            2   Mr.   Guardian Patel     992123451   guardian.patel@mail.com
2            3   Mr.   Guardian Verma     993123452   guardian.verma@mail.com
3            4   Mr.  Guardian Sharma     994123453  guardian.sharma@mail.com
4            5   Mr.    Guardian Iyer     995123454    guardian.iyer@mail.com

  relationship         address
0        Uncle  Area-1, City-1
1        Uncle  Area-2, City-2
2        Uncle  Area-3, City-3
3        Uncle  Area-4, City-4
4        Uncle  Area-5, City-5

Table: Mother
   mother_id first_name middle_name last_name contact_number  \
0          1    Lakshmi                 Reddy      971432100
1          2    Lakshmi                 Patel      972432101
2          3    Lakshmi                 Verma      973432102
3          4    Lakshmi                Sharma      974432103
4          5    Lakshmi                  Iyer      975432104

                    mail_id occupation salary
0   lakshmi.reddy@gmail.com    Teacher     8L
1   lakshmi.patel@gmail.com    Teacher     8L
2   lakshmi.verma@gmail.com    Teacher     8L
3  lakshmi.sharma@gmail.com    Teacher     8L
4    lakshmi.iyer@gmail.com    Teacher     8L

Table: Name
   name_id first_name middle_name last_name
0        1      Priya                 Reddy
1        2       Amit                 Patel
2        3       Neha                 Verma
3        4      Rahul                Sharma
4        5      Sneha                  Iyer

Table: Parent_Information
   parent_id father_first_name father_middle_name father_last_name  \
0          1            Ramesh                               Reddy
1          2            Ramesh                               Patel
2          3            Ramesh                               Verma
3          4            Ramesh                              Sharma
4          5            Ramesh                                Iyer

  father_contact_number father_occupation mother_first_name  \
0             981563210          Engineer           Lakshmi
1             982563211          Engineer           Lakshmi
2             983563212          Engineer           Lakshmi
3             984563213          Engineer           Lakshmi
4             985563214          Engineer           Lakshmi

  mother_middle_name mother_last_name mother_contact_number mother_occupation  \
0                               Reddy             971432100           Teacher
1                               Patel             972432101           Teacher
2                               Verma             973432102           Teacher
3                              Sharma             974432103           Teacher
4                                Iyer             975432104           Teacher

  family_income  father_id  mother_id  income_id  guardian_id
0    10L to 15L          1          1          1            1
1    10L to 15L          2          2          2            2
2    10L to 15L          3          3          3            3
3    10L to 15L          4          4          4            4
4    10L to 15L          5          5          5            5

Table: Personal_Details
   personal_id  student_id contact_number                      mail_id  \
0            1        7001      900000001   priya.reddy@student.edu.in
1            2        7002      900000002    amit.patel@student.edu.in
2            3        7003      900000003    neha.verma@student.edu.in
3            4        7004      900000004  rahul.sharma@student.edu.in
4            5        7005      900000005    sneha.iyer@student.edu.in

          dob  name_id  address_id  parent_id
0  2004-01-10        1           1          1
1  2004-01-11        2           2          2
2  2004-01-12        3           3          3
3  2004-01-13        4           4          4
4  2004-01-14        5           5          5

Table: Program
   program_id                program_name program_code  duration  total_terms
0           1  B.Tech in Computer Science        BTCSE        48            8
1           2            B.Com in Finance          BCF        36            6
2           3            B.A in Economics        BAECO        36            6

Table: Semester_Wise_Marks
Empty DataFrame
Columns: [sem_marks_id, degree_id, semester_number, marks]
Index: []

Table: Student
   admission_id  student_id
0          3001        7001
1          3002        7002
2          3003        7003
3          3004        7004
4          3005        7005

Table: Student_ID_Table
   student_id         personal_details            academic_details  \
0        7001   Details of Priya Reddy  Academic details for Priya
1        7002    Details of Amit Patel   Academic details for Amit
2        7003    Details of Neha Verma   Academic details for Neha
3        7004  Details of Rahul Sharma  Academic details for Rahul
4        7005    Details of Sneha Iyer  Academic details for Sneha

       work_experience      pre_review  admission_id
0  Interned at Infosys  Active learner          3001
1  Interned at Infosys  Active learner          3002
2  Interned at Infosys  Active learner          3003
3  Interned at Infosys  Active learner          3004
4  Interned at Infosys  Active learner          3005

Table: Term
   term_id  student_id  program_id term_start_date term_end_date
0        1        7001           1      2023-07-01    2023-12-01
1        2        7002           2      2023-07-01    2023-12-01
2        3        7003           3      2023-07-01    2023-12-01
3        4        7004           1      2023-07-01    2023-12-01
4        5        7005           2      2023-07-01    2023-12-01

Table: Work_Experience
Empty DataFrame
Columns: [work_id, student_id, has_experience, function_area, emp_type_id, organization_name, organization_address, organization_contact, registration_number, from_date, to_date, document_upload_path, review_or_comments]
Index: []

/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)
/var/folders/hy/d5zmwm0x24ncdhw2w7md39wh0000gn/T/ipykernel_10161/3732461805.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)

In [10]:
for table, df in all_dataframes.items():
    df.to_csv(f"{table}.csv", index=False)
    print(f"Saved {table}.csv")

Saved Academic_Qualification.csv
Saved Address.csv
Saved Attendance.csv
Saved Class_10.csv
Saved Class_12.csv
Saved Course.csv
Saved Course_Attendance.csv
Saved Degree.csv
Saved Department.csv
Saved Employment_Type.csv
Saved Enrollment.csv
Saved Faculty.csv
Saved Family_Income.csv
Saved Father.csv
Saved Grade.csv
Saved Guardian_Information.csv
Saved Mother.csv
Saved Name.csv
Saved Parent_Information.csv
Saved Personal_Details.csv
Saved Program.csv
Saved Semester_Wise_Marks.csv
Saved Student.csv
Saved Student_ID_Table.csv
Saved Term.csv
Saved Work_Experience.csv

In [18]:
pip install streamlit pandas plotly

Requirement already satisfied: streamlit in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.41.1)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Collecting plotly
  Downloading plotly-6.0.1-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: altair<6,>=4.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (2.2.1)
Requirement already satisfied: packaging<25,>=20 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (24.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (5.29.2)
Requirement already satisfied: pyarrow>=7.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from streamlit) (6.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (1.21.1)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (2024.12.14)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.22.3)
Requirement already satisfied: mdurl~=0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.8/14.8 MB 8.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: plotly
Successfully installed plotly-6.0.1

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [23]:
streamlit run app.py

SyntaxError: invalid syntax (3737097518.py, line 1)

In [24]:
import streamlit as st
import pandas as pd
import plotly.express as px

# Title and Navigation
st.set_page_config(page_title="Student Support System", layout="wide")
st.title("📚 Student Support System")

# Sidebar Navigation
st.sidebar.title("Navigation")
option = st.sidebar.radio("Go to", ["Student Info", "Grades", "Attendance"])

# Load Data
@st.cache_data
def load_data():
    grades = pd.read_csv("Grade.csv")
    attendance = pd.read_csv("Attendance.csv")
    student_info = pd.read_csv("Student_ID_Table.csv")
    return grades, attendance, student_info

grades_df, attendance_df, student_info_df = load_data()

# Tab: Student Info
if option == "Student Info":
    st.header("👩‍🎓 Student Overview")
    st.dataframe(student_info_df)

# Tab: Grades
elif option == "Grades":
    st.header("📊 Grades Report")

    st.subheader("Total Marks per Student")
    fig1 = px.bar(grades_df, x='student_id', y='total_marks', color='status',
                  title="Total Marks and Pass/Fail Status")
    st.plotly_chart(fig1, use_container_width=True)

    st.subheader("CIA Performance")
    cia_data = grades_df[['student_id', 'cia1', 'cia2', 'cia3', 'cia4']].melt(id_vars='student_id',
                var_name='CIA Exam', value_name='Marks')
    fig2 = px.box(cia_data, x="CIA Exam", y="Marks", color="CIA Exam", title="CIA Marks Distribution")
    st.plotly_chart(fig2, use_container_width=True)

# Tab: Attendance
elif option == "Attendance":
    st.header("📅 Attendance Tracker")

    st.subheader("Attendance Summary")
    att_summary = attendance_df['status'].value_counts().reset_index()
    att_summary.columns = ['Status', 'Count']
    fig3 = px.pie(att_summary, values='Count', names='Status', title='Attendance Overview')
    st.plotly_chart(fig3, use_container_width=True)

    st.subheader("Detailed Attendance Data")
    st.dataframe(attendance_df)

2025-03-24 22:42:37.777 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.807 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.808 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.809 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.809 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.810 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.810 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.811 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.811 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.812 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.812 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.813 No runtime found, using MemoryCacheStorageManager
2025-03-24 22:42:37.818 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.822 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.825 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:42:37.825 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [25]:
import streamlit as st
import pandas as pd
import os

# Set the page config
st.set_page_config(page_title="Student Support System", layout="wide")

# Title
st.title("📚 Student Support System Dashboard")

# Load data files
attendance_path = "Attendance.csv"
grade_path = "Grade.csv"

if os.path.exists(attendance_path) and os.path.exists(grade_path):
    attendance_df = pd.read_csv(attendance_path)
    grade_df = pd.read_csv(grade_path)

    # Sidebar options
    option = st.sidebar.radio("Select View", ["📊 Attendance Summary", "🎓 Grade Performance"])

    if option == "📊 Attendance Summary":
        st.header("📊 Attendance Status of Students")
        status_count = attendance_df['status'].value_counts()
        st.bar_chart(status_count)

        st.subheader("🧾 Full Attendance Data")
        st.dataframe(attendance_df)

    elif option == "🎓 Grade Performance":
        st.header("🎓 Total Marks per Student")
        fig_data = grade_df[['student_id', 'total_marks', 'status']]
        st.bar_chart(
            data=fig_data,
            x='student_id',
            y='total_marks',
        )

        # Pass/Fail breakdown
        st.subheader("✅ Pass / ❌ Fail Breakdown")
        grade_status = grade_df['status'].value_counts()
        st.write(grade_status)

        st.subheader("🧾 Full Grade Data")
        st.dataframe(grade_df)

else:
    st.error("📁 Required CSV files not found in current directory!")

2025-03-24 22:48:17.644 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.646 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.646 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.667 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.667 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.668 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.668 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.669 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.669 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.670 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.670 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.908 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.908 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.908 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.908 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.909 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-24 22:48:17.909 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.